﻿
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Compañias </h2>

<button id="Buscar">Buscar Compañias</button>
<button id="Cargar">Cargar Datos BD</button>

<div>
    <table class="table" id="TableCompany">
        <thead>
            <tr>
                <th>CompanyCode</th>
                <th>OrderNumber</th>
                <th>InvoiceNumber</th>
                <th>DateSold</th>
                <th>CustomerCode</th>
                <th>CustomerName</th>
                <th>CustomerAddress</th>
                <th>ItemReference</th>
                <th>Quantity</th>
                <th>CostPerUnit</th>
                <th>Guardar</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#Buscar').on("click", function(){
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Mapping")',
                    datatype: "json"
                })
                    .success(function (data) {
                        //console.log(data.resultado)
                      var table =  $('#TableCompany').DataTable({
                            // "data": data.resultado,
                            "data": JSON.parse(data.resultado),
                            "columns": [
                                { "data": "CompanyCode"},
                                { "data": "OrderNumber"},
                                { "data": "InvoiceNumber"},
                                { "data": "DateSold"},
                                { "data": "CustomerCode"},
                                { "data": "CustomerName" },
                                { "data": "CustomerAddress"},
                                { "data": "ItemReference" },
                                { "data": "Quantity" },
                                { "data": "CostPerUnit" },
                                { "defaultContent": "<button>Save</button>" },
                            ]

                        });

                        $('#TableCompany').on('click', 'button', function () {
                            console.log("LLego");
                            var data = table.row($(this).parents('tr')).data();
                            alert(data)
                           $.ajax({
                                type: "POST",
                                data: 'data',
                                url: '@Url.Action("Guardar")',
                                datatype: "json"
                             })
                        });
                        alert("Guardado")

                    });
                    })
                    .error(function (xhr, ajaxOptions) {
                        console.log("Error");
                });


            return false;
        });

    </script>


}



